<%- include('./partials/header') %>

<meta http-equiv="refresh" content="5">

<div class="container">
  <br>
  <br>
  <br>
  
  <div class="row d-flex justify-content-center">
  <% blocks.forEach((block) => { %>
    <div class="col-6">
    <br>
      <div class="card">
        <div class="card-header text-center">
          <%= block.name %>
        </div>
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">Server Name</th>
              <th scope="col">IP Address</th>
              <th scope="col">Status</th>
              <th scope="col">Latency</th>
              <th scope="col">Since</th>
            </tr>
          </thead>
          <tbody>
            <% block.servers.forEach((server) => { %>
              <tr>
                <td><a href="http://<%= server.ip %>" target="_blank"><%= server.name %></a></td>
                <td><%= server.ip %></td>
                <td>
                  <% if(server.status === true){ %>
                    <img src="/icons/online.png" class="indicator-img">
                  <% } else { %>
                    <img src="/icons/offline.png" class="indicator-img">
                  <% } %>
                </td>
                <td><% if(server.status === true) { %><%= server.latency %>ms<% } else { %> N/A <% } %></td>
                <td><% if(server.status === true) { %><%= server.upTime %><% } else { %><%= server.downTime %><% } %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include('./partials/header') %>